﻿@using System.Security
@using System.Security.Claims
@using inventory.DAL
@using inventory.Entities
@using inventory.Helpers


<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>IMS | @ViewBag.Title</title>
    @{
        inventory.AppUser user = new inventory.AppUser(this.User as ClaimsPrincipal);
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        IEnumerable<System.Security.Claims.Claim> list = claimsIdentity.FindAll(System.Security.Claims.ClaimTypes.Role);
        AuthDAL dal = new AuthDAL();
        var controller = @ViewContext.RouteData.Values["controller"].ToString();
        controller = string.IsNullOrEmpty(controller) ? "" : controller;
        var actionView = @ViewContext.RouteData.Values["action"].ToString();
        actionView = string.IsNullOrEmpty(actionView) ? "" : actionView;
        var _uriLink = (controller.Length > 0 && actionView.Length > 0) ? controller + "/" + actionView : "";
    }
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css"
          rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/selects/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/extensions/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/extensions/bootstrap-treeview.min.css">
    
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/app.css">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END Custom CSS-->
</head>
<body class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto">
                        <a class="navbar-brand" href="#">
                            <img class="brand-logo" alt="modern admin logo" src="../../../app-assets/images/logo/logo.png">
                            <h3 class="brand-text">I M S</h3>
                        </a>
                    </li>
                    @*<li class="nav-item d-none d-md-block float-right"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon ft-toggle-right font-medium-3 white" data-ticon="ft-toggle-right"></i></a></li>*@
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left"></ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <span class="mr-1">
                                    Hello,
                                    <span class="user-name text-bold-700">@User.Identity.Name &nbsp; </span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="ft-user"></i> Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a>
                                <a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a>
                                <a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout","Auth")"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <span class="mr-1">
                                    Role:
                                    <span class="user-name text-bold-700">@claimsIdentity.FindFirst("USER_ROLE_NAME").Value</span>
                                    <input type="text" id="inputROLE_ID" value="@claimsIdentity.FindFirst("USER_ROLE").Value" hidden>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                @{
                    MenuDAL menuDal = new MenuDAL();
                    var MenuLists = new List<APP_MENU>();
                    MenuLists = menuDal.GetMenu(Convert.ToInt32(claimsIdentity.FindFirst("USER_ROLE").Value));
                }

                @BuildMenu(MenuLists)

                @helper  BuildMenu(List<APP_MENU> MenuLists, int? parentid = 0)
                {
                    string queryMenuId = "";
                    DecEncrypt sp = new DecEncrypt();
                    if (!string.IsNullOrEmpty(Request.QueryString["mid"]))
                    {
                        queryMenuId = @Request.QueryString["mid"].Replace(' ', '+');

                    }
                    IOrderedEnumerable<APP_MENU> items = null;
                    var protectMenuId = string.Empty;
                    try
                    {
                        items = MenuLists.Where(m => int.Parse(string.IsNullOrEmpty(m.PARENTID) ? "0" : m.PARENTID) == parentid).OrderBy(n => int.Parse(string.IsNullOrEmpty(n.ORDER_BY) ? "0" : n.ORDER_BY));
                    }
                    catch (Exception)
                    {
                        items = null;
                    }
                    if (items.Any())
                    {
                        foreach (var item in items)
                        {
                            var countChild = MenuLists.Where(m => m.PARENTID == item.ID);
                            protectMenuId = sp.Encrypt(item.ID.ToString().Trim());

                            <li class="">
                                <a href="@if (countChild.Count() == 0) { @Html.Raw(@item.CONTROLLER + "?mid=" + protectMenuId) } else { @Html.Raw("javascript:;") } ">
                                    <span class="title"><i class="@item.IMAGECLASS"></i> @item.NAMEOPTION</span>
                                    @if (countChild.Count() != 0)
                                    {
                                        <span class="arrow"></span>
                                    }
                                </a>

                                @*<span class="icon-thumbnail"><i class="@item.IMAGECLASS"></i></span>*@
                                @if (countChild.Count() != 0)
                                {
                                    <ul class="sub-menu">
                                        @BuildMenu(MenuLists, int.Parse(item.ID))
                                    </ul>
                                }
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">@ViewBag.Title</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">@ViewBag.Breadcrumb</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewBag.SubBreadcrumb
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright &copy; 2019 <a class="text-bold-800 grey darken-2" href="https://www.pelindo.co.id/id"
                                         target="_blank">PELINDO III</a>, All rights reserved.
            </span>
            <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span>
        </p>
    </footer>
    <!-- BEGIN VENDOR JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="../../../app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
    <script src="../../../app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
    <script src="../../../app-assets/vendors/js/charts/morris.min.js" type="text/javascript"></script>
    <script src="../../../app-assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js"
            type="text/javascript"></script>
    <script src="../../../app-assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js"
            type="text/javascript"></script>
    <script src="../../../app-assets/data/jvector/visitor-data.js" type="text/javascript"></script>
    <script src="../../../app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <script src="../../../app-assets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>
    <script src="../../../app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="../../../app-assets/vendors/js/extensions/bootstrap-treeview.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN MODERN JS-->
    <script src="../../../app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="../../../app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="../../../app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END MODERN JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
    <script type="text/javascript">
        $(document).ready(function () {
            var url = window.location.href;

            $('.main-menu-content li a').each(function () {
                if (this.href === url) {
                    $(this).parents('li').addClass('active open');
                    $(this).parent().addClass('active open');
                }
            });
        });
    </script>
</body>
</html>
