﻿@{
    ViewBag.Title = "Role";
    ViewBag.Breadcrumb = "Setting";
    ViewBag.SubBreadcrumb = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button id="btn-lihat" type="button" class="btn btn-primary btn-min-width mr-1 mb-1 box-shadow-4"><i class="la la-search"></i> Lihat data</button>

<!--Modal-->
<div class="modal fade text-left" id="modalRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">@ViewBag.Title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-hover compact" id="tabelRole" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Role ID</th>
                            <th>Role Name</th>
                            <th>Rec Stat</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputNameOption">Role Name</label>
                                <input type="text" id="inputRoleId" hidden>
                                <input type="text" id="inputRoleName" class="form-control" placeholder="RoleName" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputRecStat">Rec Stat</label>
                                <select id="inputRecStat" class="form-control select2">
                                    <option value="A">Active</option>
                                    <option value="D">Deactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <button id="btn-simpan" type="button" class="btn btn-success btn-min-width mr-1 mb-1 box-shadow-4"><i class="la la-save"></i> Simpan</button>
                    <button id="btn-update" type="button" class="btn btn-warning btn-min-width mr-1 mb-1 box-shadow-4"><i class="la la-edit"></i> Update</button>
                    <button id="btn-batal" type="button" class="btn btn-danger btn-min-width mr-1 mb-1 box-shadow-4"><i class="la la-eraser"></i> Batal</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Struktur Menu</h4>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div id="treeview"></div>                    
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../../app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<script src="~/assets/js/role.js" type="text/javascript"></script>
