﻿
@{
    ViewBag.Title = "Menu";
    ViewBag.Breadcrumb = "Setting";
    ViewBag.SubBreadcrumb = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button id="btn-lihat" type="button" class="btn btn-primary btn-min-width mr-1 mb-1 box-shadow-4" @*data-toggle="modal" data-target="#xlarge"*@><i class="la la-search"></i> Lihat data</button>
@*<button type="button" class="btn btn-success btn-min-width mr-1 mb-1 box-shadow-4"><i class="la la-plus"></i> Tambah data</button>*@

<!--Modal-->
<div class="modal fade text-left" id="xlarge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">@ViewBag.Title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-hover compact" id="tabelMenu" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Menu</th>
                            <th>Controller</th>
                            <th>Action</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Is Parent</th>
                            <th>ParentId</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal-->




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputNameOption">Name Option</label>
                                <input type="text" id="inputId" hidden >
                                <input type="text" id="inputNameOption" class="form-control" placeholder="NameOption" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputController">Controller</label>
                                <input type="text" id="inputController" class="form-control" placeholder="Controller" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputAction">Action</label>
                                <input type="text" id="inputAction" class="form-control" placeholder="Action" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputImageClass">Image Class</label>
                                <input type="text" id="inputImageClass" class="form-control" placeholder="Image Class" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputStatus">Status</label>
                                <select id="inputStatus" class="form-control select2">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputIsParent">Is Parent</label>
                                <select id="inputIsParent" class="form-control select2">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="inputParentId">Parent Id</label>
                                <select id="inputParentId" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <button id="btn-simpan" type="button" class="btn btn-success btn-min-width mr-1 mb-1 box-shadow-4"><i class="la la-save"></i> Simpan</button>
                    <button id="btn-update" type="button" class="btn btn-warning btn-min-width mr-1 mb-1 box-shadow-4"><i class="la la-edit"></i> Update</button>
                    <button id="btn-batal" type="button" class="btn btn-danger btn-min-width mr-1 mb-1 box-shadow-4"><i class="la la-eraser"></i> Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<script src="~/assets/js/menu.js" type="text/javascript"></script>